.about_background {
    background-image: url(../../images/yo-1.jpg);
    background-position: left center;
}

.about_textbox {
    width: 55%;
    text-align: center;
    float: right;
    background:#000002;
    opacity: 0.45;
    padding: 1%;
    border-radius: 5%;
}

