.nav-container{
    background:#000002;
    height: 100vh;
    padding-top: 3%;
}

nav ul li {
    height: 12vh;
    padding: 5%;
    list-style: none;
    font-size: 1em;
}

nav ul li a{
    text-decoration: none;
    color: #C3CEDC;
}

@media only screen and (max-width: 600px) {
    .nav-container {
        height: auto;
        
    }
    nav ul {
        display: inline;
    }
    nav ul li {
        display: inline-block;
        height: auto;
        display: flex;
        justify-content: center;
    }
}